* {
    padding: 0;
    margin: 0;
    color: #3C3C3C;
    line-height: 1.25;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font: 16px Halvetica, Roboto, sans-serif;
}




header, section, footer {
    width: 100%;
}

h1, h2, h3 {
    color: #000000;
}

a {
    font-weight: 600;
}




.wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.link-solid {
    background: #8EE5D1;
    border-radius: 50px;
}




header {
    padding: 20px 0;
}

header > .wrapper {
    align-items: center;
}

header h3 {
    font-size: 28px;
    margin-right: 20px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header ul li a {
    display: block;
    padding: 10px 25px;
}

#nav-left {
    flex: 1 1 200px;
}



#intro {
    padding: 75px 0px;
}

#intro > .wrapper {
    align-items: center;
}

#intro-text {
    flex: 1;
    font-size: 20px;
}

#intro-text h1 {
    font-size: 2.3em;
}

#intro-text div {
    width: 75%;
    line-height: 1.5;
    margin: 15px 0 25px;
}

#intro-text a {
    padding: 10px 25px;
}


#intro-image {
    flex: 0 1 50%;
}

#intro-image > img {
    width: 100%;
}



#contact {
    padding: 50px 0;
    background: #F4F7FA;
}

#contact > .wrapper {
    justify-content: center;
}

#contact input {
    width: 350px;
    line-height: 1;
    padding: 7px 10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

#contact a {
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 5px;
}


@media screen and (max-width: 640px) {
    .wrapper {
        width: 90%;
        flex-direction: column;
    }

    header > .wrapper {
        flex-direction: row;
    }

    header h3 {
        flex: 1 1 100px;
    }

    #nav-left {
        display: none;
    }



    #intro {
        padding: 30px 0;
        text-align: center;
    }

    #intro-text div {
        width: 100%;
    }

    #intro-image {
        margin-top: 50px;
    }
}